$color-grey-light-1: #d3d3d3;
$color-grey-light-2: #dee2e6;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-black-2: #171717;
$color-light-black: #1f1f1f;

$primary-color-light: #faeac7;
$primary-color: #f4c460; 
$primary-color-medium: #fecc4e;
$primary-color-dark: #f9b813;
$primary-color-transparent: #f5c857;
$primary-color-medium-transparent:#f2c85c;

$color-light-tan: #faeac7;
